h1,
h2,
h3,
h4,
h5,
h6 {
    font-family: 'Black Mango';
}

h1 {
    @apply text-6xl;
}

h2 {
    @apply text-5xl;
}

h3 {
    @apply text-4xl;
}

h4 {
    @apply text-3xl;
}

h5 {
    @apply text-2xl;
}

h6 {
    @apply text-xl;
}

body {
    background: #485438;
}

button, a {
    @apply transition-all duration-300 ease-in-out;
}

button:hover {
    @apply duration-300 ease-in-out;
}

a:hover {
    @apply text-customPrimary-600 duration-300 ease-in-out;
}

p {
    @apply text-lg;
}