h1,
h2,
h3,
h4,
h5,
h6 {
    font-family: 'Black Mango';
}

body {
    background: #485438;
}

button {
    @apply duration-300 ease-in-out;
}
button:hover {
    @apply bg-customPrimary-600 duration-300 ease-in-out;
}